<div class="container">
  <div id="cropbox_box">
    <%= image_tag resource.avatar.url(:large), :id => "cropbox" %>
  </div>
  <div id="preview_box">
    <%= image_tag resource.avatar.url(:large), :id => "preview" %>
  </div>
  <div id="crop_button">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
        <%= f.hidden_field attribute, :id => attribute %>
      <% end %>
      <p><%= f.submit "Crop" %></p>
    <% end %>
  </div>
</div>