<div class="container">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |form| %>
    <%= devise_error_messages! %>

    <div><%= form.label :first_name, :class => "form small"%><%= form.text_field :first_name %></div>
  
    <div><%= form.label :last_name %><%= form.text_field :last_name %></div>  
  
    <% if params[:part_type] == "youth" %>
      <div><%= form.label "school" %><%= form.text_field :school_company %></div> 
    <% else %>
      <div><%= form.label "company" %><%= form.text_field :school_company %></div>  
    <% end %>
    <%= form.hidden_field :part_type, :value => params[:part_type] %>
  
    <div><%= form.label :twitter %><%= form.text_field :twitter %></div>
  
    <div><%= form.label :bio %><%= form.text_area :bio %></div>
  
    <div><%= form.label :photo %><%= form.file_field :avatar %></div>

    <div><%= form.label :email %><%= form.email_field :email, :autofocus => true %></div>

    <div><%= form.label :password %><%= form.password_field :password %></div>

    <div><%= form.label :password_confirmation %><%= form.password_field :password_confirmation %></div>

    <div><%= form.submit "Sign up" %></div>
  <% end %>
</div>  