<div id="sponsorship" class="container">
  <h1>Event Organizers</h1>  

  <%- @staff.each do |a| %>
  <div id="contact_us">
    <div class="circle_contact"><%= image_tag a.avatar.url(:thumb)%></div>
    <ul>
       <li class="header"><%= link_to a.first_name + " " + a.last_name , search_path(a) %></li>
       <li><%= a.job %></li>
       <li><a href="mailto:<%= a.email%>?Subject=Girls%20Do%20Hack" target="_top"><%= a.email%></a></li>
       <li><%= link_to a.twitter, "http://twitter.com/" + a.twitter %></li>
    </ul>
  </div>
  <%- end %>
</div>

<%= render 'youth' %>