<div id="sponsorship" class="container">
  <h1>Event Organizers</h1>  

  <ul id="contact_us">
     <li class="header"><%= link_to "Natalie Rayter", search_path(7) %></li>
     <li>Digital Youth Coordinator</li>
     <li><a href="mailto:nrayter@adlerplanetarium.org?Subject=Girls%20Do%20Hack" target="_top">
      nrayter@adlerplanetarium.org</a></li>
     <li><%= link_to "@nathalie_bfr", "http://twitter.com/nathalie_bfr" %>
  </ul>
  <ul id="contact_us">
     <li class="header"><%= link_to "Kelly Sutphin-Borden", search_path(2) %></li>
     <li>Lead Educator for Citizen Science</li>
     <li><a href="mailto:kelly@zooniverse.org?Subject=Girls%20Do%20Hack" target="_top">
      kelly@zooniverse.org</a></li>
     <li><%= link_to "@bordenkelly", "http://twitter.com/bordenkelly" %>
  </ul>
  <ul id="contact_us">
     <li class="header"><%= link_to "Dr. Laura Trouille", search_path(3) %></li>
     <li>Astronomer and Educator</li>
     <li><a href="mailto:l-trouille@northwestern.edu ?Subject=Girls%20Do%20Hack" target="_top">
      l-trouille@northwestern.edu</a></li>
     <li><%= link_to "@windycityastro", "http://twitter.com/windycityastro" %>
  </ul>
  <ul id="contact_us">
     <li class="header"><%= link_to "Dr. Laura Whyte", search_path(1) %></li>
     <li>Senior Educator and Developer for Citizen Science</li>
     <li><a href="mailto:laura@zooniverse.org?Subject=Girls%20Do%20Hack" target="_top">
      laura@zooniverse.org</a></li>
     <li><%= link_to "@whytewithawhy", "http://twitter.com/whytewithawhy" %>
  </ul>
</div>

<%= render 'youth' %>