<div class="container">
  <div id="user_top">  
    <div id="user_photo">
      <div class="circle_image"><%= image_tag @user.avatar.url(:thumb)%></div>
        <h1>STEM Skills</h1>
        <ul id='user_skills'>
          <%- @user.skills.first(6).each do |skill|%>
          <li><%= skill.value.downcase %></li>
          <%- end %>
        </ul>
    </div>
    <div id="user_details">
      <ul>
        <li class="name"><%= @user.first_name %> <%= @user.last_name %></li>
        <li class="company"><%= @user.school_company %></li>
        <%- unless @user.twitter == "Twitter" %>
        <li class="twitter"><%= link_to '@'+@user.twitter.gsub('@',''), "http://www.twitter.com/"+@user.twitter.gsub('@','') %> </li>
        <%- end %>
      </ul>
      <p><%= @user.bio %></p>  
    </div>
  </div>
</div>

<%= render 'home/youth'%>
